.todo-list {
  width: 350px;
  min-width: 250px;
  height: fit-content;
  min-height: 150px;
  border: solid 2px black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: box-shadow 0.5s;
  background-color: white;
  animation: scale-list 0.3s ease-out;
}

@keyframes scale-list {
  from {
    transform: scale(50%);
    opacity: 0;
  }
  to {
    transform: scale(100%);
    opacity: 1;
  }
}

.todo-list:hover {
  box-shadow: 0px 3px 5px 1px grey;
}

/* header */
.todo-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-header h2 {
  /* cursor: default; */
  margin: 0px auto;
  width: 100%;
  border-bottom: 1px solid black;
}

.todo-header button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 8px;
  width: 40px;
  color: white;
  background-color: rgba(255, 0, 0, 0.55);
  transition: background-color 0.5s;
}

.todo-header button:hover {
  background-color: rgb(255, 0, 0);
}

/* Tasks lists */
.task-list {
  list-style-type: none;
  padding: 0px;
  margin: 5px 10px;
}

.task-list li {
  display: grid;
  grid-template-columns: 20px auto;
  align-items: center;
}

.checkbox-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkboxes {
  opacity: 0.5;
}

.checkboxes:hover {
  opacity: 1;
}

.task {
  width: 100%;
  min-width: 100px;
  font-size: 16px;
  padding: 0px;
  margin: 5px;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: slide-task 0.2s ease-out;
}

@keyframes slide-task {
  from {
    transform: translateX(10%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.task:focus {
  outline: none;
}

.completed {
  text-decoration: line-through;
}

.completed:focus {
  text-decoration: none;
}

/* Show/Hide completed list */
.toggle-complete {
  margin-top: auto;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  align-self: center;
}

/* New task form */
.new-task-form {
  font-size: 16px;
  height: fit-content;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 90% 1fr;
}

.new-task-form input {
  border: none;
  margin: 5px 5px;
  outline: none;
}

.new-task-form button {
  cursor: pointer;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 159, 0, 0.55);
  transition: background-color 0.5s;
}

.new-task-form button:hover {
  background-color: rgb(0, 159, 0);
}

/* Expanded list */
.expanded-list-container {
  z-index: 10;
  margin: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  animation: open-expanded-list-container 0.5s ease-out;
}

@keyframes open-expanded-list-container {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.expanded-list {
  position: absolute;
  top: 100px;
  height: fit-content;
  min-height: 200px;
  width: 700px;
  max-width: 95%;
  border: solid 2px black;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  animation: open-expanded-list 0.5s ease-out;
}

@keyframes open-expanded-list {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.expanded-list-title {
  cursor: text;
  margin: 0px auto;
  width: 100%;
  border-bottom: 1px solid black;
  font-size: 1.5rem;
  font-weight: 700;
}

.expanded-list-title:focus {
  outline: none;
}
