.todo-list {
  width: 350px;
  min-width: 250px;
  height: fit-content;
  min-height: 150px;
  border: solid 2px black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: box-shadow 0.5s;
  background-color: white;
}

.todo-list:hover {
  box-shadow: 0px 3px 5px 1px grey;
}

/* header */
.todo-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.todo-header h2 {
  cursor: default;
  margin: 0px auto;
  width: 100%;
  border-bottom: 1px solid black;
}

.todo-header button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 8px;
  width: 40px;
  color: white;
  background-color: rgba(255, 0, 0, 0.55);
  transition: background-color 0.5s;
}

.todo-header button:hover {
  background-color: rgb(255, 0, 0);
}

/* Tasks lists */
.task-list {
  list-style-type: none;
  padding: 0px;
  margin: 5px 10px;
}

.tasks {
  width: 100%;
  font-size: 16px;
  list-style-type: none;
  padding: 0px;
  cursor: pointer;
  margin: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completed {
  text-decoration: line-through;
}

/* Show/Hide completed list */
.toggle-complete {
  margin-top: auto;
  cursor: pointer;
  font-size: 12px;
  text-align: center;
  align-self: center;
}

/* New task form */
.new-task-form {
  font-size: 16px;
  height: fit-content;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 90% 1fr;
}

.new-task-form input {
  border: none;
  margin: 5px 5px;
  outline: none;
}

.new-task-form button {
  cursor: pointer;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 159, 0, 0.55);
  transition: background-color 0.5s;
}

.new-task-form button:hover {
  background-color: rgb(0, 159, 0);
}

.expanded-list {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 30%;
}

/* Expanded list */
.expanded-list {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  min-height: 200px;
  width: 700px;
  border: solid 2px black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
}