.todo-list {
  width: 30%;
  min-width: 200px;
  height: fit-content;
  min-height: 100px;
  border: solid 2px black;
  margin: 10px;
  padding: 5px;
}

.todo-list h2 {
  margin: 0px auto;
}

.todo-list ul {
  padding: 0px;
  margin: 5px;
}

.todo-list li {
  list-style: none;
  padding: 0px;
  cursor: pointer;
  margin: 5px;
}

.todo-list form{
  margin-top: auto;
}