.sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  padding-top: 80px;
  width: 250px;
  background-color: rgb(195, 194, 194);
  display: flex;
  justify-content: center;
}

.project-list {
  list-style: none;
  padding: 0px;
  margin-top: 40px;
}

.project-list li{
  font-size: 1.5rem;
  text-align: center;
  padding: 10px 0px;
  cursor: pointer;
}